<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
  	<typeAlias type="com.jejutree.search_model.SearchDAO" alias="searchDao"/>
  	<typeAlias type="com.jejutree.search_model.SearchDTO" alias="searchDto"/>
  	</typeAliases>
</configuration>